---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: trigger
  labels:
    app: trigger
spec:
  minReadySeconds: 60
  replicas: 1
  selector:
    matchLabels:
      app: trigger
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: trigger
    spec:
      containers:
      - name: trigger
        image: trigger:latest
        imagePullPolicy: IfNotPresent
        ports:
        - name: http
          containerPort: 8080
        - name: https
          containerPort: 8443
        envFrom:
        - configMapRef:
            name: trigger-env
      terminationGracePeriodSeconds: 180